In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("../data/natural_gas_data.csv", parse_dates=["Date"])

In [17]:
df = df.sort_values(by="Date")

In [12]:
df.head()

        Date  Price_EIA  Price_Yahoo           GDP  Inflation  Interest Rate
0 2000-08-30        NaN        4.805  2.146709e+11    5.56613           6.50
1 2000-08-31        NaN        4.780  2.146709e+11    5.56613           6.50
2 2000-09-01        NaN        4.835  2.146709e+11    5.56613           6.52
3 2000-09-05        NaN        4.960  2.146709e+11    5.56613           6.52
4 2000-09-06        NaN        5.065  2.146709e+11    5.56613           6.52

In [15]:
df.isna().sum()

Date                0
Price_EIA        1178
Price_Yahoo        65
GDP               536
Inflation         536
Interest Rate      33
dtype: int64

In [18]:
# Forward-fill and Backward-fill for Price Data
df["Price_EIA"] = df["Price_EIA"].fillna(method="ffill").fillna(method="bfill")
df["Price_Yahoo"] = df["Price_Yahoo"].fillna(method="ffill").fillna(method="bfill")

# Forward-fill for GDP, Inflation, and Interest Rate
df["GDP"] = df["GDP"].fillna(method="ffill").interpolate()
df["Inflation"] = df["Inflation"].fillna(method="ffill").interpolate()
df["Interest Rate"] = df["Interest Rate"].fillna(method="ffill").interpolate()

/tmp/ipykernel_18060/3564868844.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Price_EIA"] = df["Price_EIA"].fillna(method="ffill").fillna(method="bfill")
/tmp/ipykernel_18060/3564868844.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Price_Yahoo"] = df["Price_Yahoo"].fillna(method="ffill").fillna(method="bfill")
/tmp/ipykernel_18060/3564868844.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["GDP"] = df["GDP"].fillna(method="ffill").interpolate()
/tmp/ipykernel_18060/3564868844.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Inflation"] = df["Inflation"].fillna(method="ffill").interpolate()
/tmp/ipykernel_18060/3564868844.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Interest Rate"] = df["Interest Rate"].fillna(method="ffill").interpolate()

In [19]:
df.isna().sum()

Date             0
Price_EIA        0
Price_Yahoo      0
GDP              0
Inflation        0
Interest Rate    0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6177 entries, 0 to 6176
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           6177 non-null   datetime64[ns]
 1   Price_EIA      6177 non-null   float64
 2   Price_Yahoo    6177 non-null   float64
 3   GDP            6177 non-null   float64
 4   Inflation      6177 non-null   float64
 5   Interest Rate  6177 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 289.7 KB

In [21]:
df.describe()

,Date,Price_EIA,Price_Yahoo,GDP,Inflation,Interest Rate
count,6177,6177.000000,6177.000000,6.177000e+03,6177.000000,6177.000000
mean,2012-12-07 20:22:15.794074624,4.771894,4.415832,8.216003e+11,5.476935,1.813532
min,2000-08-30 00:00:00,1.210000,1.482000,2.055254e+11,2.858878,0.050000
25%,2006-11-03 00:00:00,2.810000,2.776000,4.891902e+11,3.947770,0.140000
50%,2012-12-20 00:00:00,4.000000,3.760000,8.146636e+11,5.493339,1.150000
75%,2019-01-08 00:00:00,7.100000,5.577000,9.181025e+11,6.657032,3.000000
max,2025-02-19 00:00:00,23.860000,15.378000,1.895068e+12,10.509810,6.520000
std,NaN,2.400610,2.233058,4.713768e+11,1.898203,1.923819

In [16]:
df.duplicated().sum()

np.int64(0)

In [22]:
df = df.sort_values("Date").reset_index(drop=True)

In [23]:
df.to_csv("../data/natural_gas_cleaned.csv", index=False)