In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("../data/natural_gas_data.csv", parse_dates=["Date"])

In [12]:
df.head()

        Date  Price_EIA  Price_Yahoo           GDP  Inflation  Interest Rate
0 2000-08-30        NaN        4.805  2.146709e+11    5.56613           6.50
1 2000-08-31        NaN        4.780  2.146709e+11    5.56613           6.50
2 2000-09-01        NaN        4.835  2.146709e+11    5.56613           6.52
3 2000-09-05        NaN        4.960  2.146709e+11    5.56613           6.52
4 2000-09-06        NaN        5.065  2.146709e+11    5.56613           6.52

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6177 entries, 0 to 6176
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           6177 non-null   datetime64[ns]
 1   Price_EIA      4999 non-null   float64
 2   Price_Yahoo    6112 non-null   float64
 3   GDP            5641 non-null   float64
 4   Inflation      5641 non-null   float64
 5   Interest Rate  6144 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 289.7 KB

In [14]:
df.describe()

,Date,Price_EIA,Price_Yahoo,GDP,Inflation,Interest Rate
count,6177,4999.000000,6112.000000,5.641000e+03,5641.000000,6144.000000
mean,2012-12-07 20:22:15.794074624,4.216759,4.428022,7.196009e+11,5.243197,1.799211
min,2000-08-30 00:00:00,1.210000,1.482000,2.055254e+11,2.858878,0.050000
25%,2006-11-03 00:00:00,2.690000,2.776000,4.891902e+11,3.688348,0.140000
50%,2012-12-20 00:00:00,3.460000,3.784500,7.616519e+11,5.100942,1.150000
75%,2019-01-08 00:00:00,4.915000,5.596500,8.914005e+11,6.494953,2.980000
max,2025-02-19 00:00:00,23.860000,15.378000,1.895068e+12,10.509810,6.520000
std,NaN,2.312958,2.240940,3.512754e+11,1.820957,1.919000

In [15]:
df.isna().sum()

Date                0
Price_EIA        1178
Price_Yahoo        65
GDP               536
Inflation         536
Interest Rate      33
dtype: int64

In [16]:
df.duplicated().sum()

np.int64(0)

In [5]:
df = df.sort_values("Date").reset_index(drop=True)

In [18]:
df.to_csv("../data/natural_gas_cleaned.csv", index=False)