In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/BrentOilPrices.csv", parse_dates=["Date"])

/tmp/ipykernel_13648/20726675.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("../data/BrentOilPrices.csv", parse_dates=["Date"])

In [4]:
df.head()

        Date  Price
0 1987-05-20  18.63
1 1987-05-21  18.45
2 1987-05-22  18.55
3 1987-05-25  18.60
4 1987-05-26  18.63

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9011 entries, 0 to 9010
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9011 non-null   datetime64[ns]
 1   Price   9011 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 140.9 KB

In [6]:
df.describe()

                                Date        Price
count                           9011  9011.000000
mean   2005-02-10 23:46:53.760958720    48.420782
min              1987-05-20 00:00:00     9.100000
25%              1996-03-20 12:00:00    19.050000
50%              2005-02-02 00:00:00    38.570000
75%              2014-01-09 12:00:00    70.090000
max              2022-11-14 00:00:00   143.950000
std                              NaN    32.860110

In [7]:
df.isna().sum()

Date     0
Price    0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df = df.sort_values("Date").reset_index(drop=True)

In [15]:
# Compute daily returns
df["Returns"] = df["Price"].pct_change().fillna(0)

In [18]:
df.to_csv("../data/brent_oil_cleaned.csv", index=False)