In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/natural_gas_data.csv", parse_dates=["Date"])

In [3]:
df.head()

,Date,Price_EIA,Price_Yahoo,GDP,Inflation,realtime_start,realtime_end,Interest Rate
0,2000-08-30,NaN,4.805,NaN,NaN,NaN,NaN,NaN
1,2000-08-31,NaN,4.780,NaN,NaN,NaN,NaN,NaN
2,2000-09-01,NaN,4.835,NaN,NaN,2025-02-03,2025-02-03,6.52
3,2000-09-05,NaN,4.960,NaN,NaN,NaN,NaN,NaN
4,2000-09-06,NaN,5.065,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6180 entries, 0 to 6179
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6180 non-null   datetime64[ns]
 1   Price_EIA       5002 non-null   float64
 2   Price_Yahoo     6112 non-null   float64
 3   GDP             4 non-null      float64
 4   Inflation       4 non-null      float64
 5   realtime_start  193 non-null    object
 6   realtime_end    193 non-null    object
 7   Interest Rate   193 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 386.4+ KB

In [5]:
df.describe()

,Date,Price_EIA,Price_Yahoo,GDP,Inflation,Interest Rate
count,6180,5002.000000,6112.000000,4.000000e+00,4.000000,193.000000
mean,2012-12-08 09:24:34.951456256,4.215598,4.428022,7.616519e+11,4.029406,1.791606
min,2000-08-30 00:00:00,1.210000,1.482000,6.943610e+11,1.487416,0.050000
25%,2006-11-05 06:00:00,2.690000,2.776000,6.943610e+11,1.487416,0.140000
50%,2012-12-22 12:00:00,3.460000,3.784500,7.616519e+11,4.029406,1.030000
75%,2019-01-07 06:00:00,4.910000,5.596500,8.289428e+11,6.571396,2.790000
max,2025-02-19 00:00:00,23.860000,15.378000,8.289428e+11,6.571396,6.520000
std,NaN,2.312750,2.240940,7.770085e+10,2.935238,1.938901

In [6]:
df.isna().sum()

Date                 0
Price_EIA         1178
Price_Yahoo         68
GDP               6176
Inflation         6176
realtime_start    5987
realtime_end      5987
Interest Rate     5987
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [5]:
df = df.sort_values("Date").reset_index(drop=True)

In [18]:
df.to_csv("../data/natural_gas_cleaned.csv", index=False)